<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="logo">
        <img class="logo__img" src="./images/header/logo.svg" alt="logo"
      /></a>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="#">home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">home</a></li>
          <li class="menu__item">
            <div class="burger">
              <span class="burger__line"></span>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Удалить заглушку для класа бургер и передать туда класс для меню -->
  <div class="mobile-menu"></div>
  <!--  -->
</header>
